#sequence {
	position: relative;
	min-height: 600px;
	max-width: 192000px;
	min-width: 320px;
	margin: 0 auto;
	overflow: hidden;
	font-family: $font_0, $font_1;
	.sequence-next {
		@extend %extend_2;
		top: 200px;
		height: 43px;
        width: 41px;
		@include susy-breakpoint($bp-medium, $susy) {
            top: 400px;
            height: 50px;
            width: 48px;
        }
		right: 40px;
		&:hover {
			@extend %extend_3;
		}
	}
	.sequence-prev {
		@extend %extend_2;
		top: 200px;
		height: 43px;
        width: 41px;
        @include susy-breakpoint($bp-medium, $susy) {
                top: 400px;
                height: 50px;
                width: 48px;
        }
		right: 105px;
		&:hover {
			@extend %extend_3;
		}
	}
	.impressum {
    	position: absolute;
        opacity: 0.4;
       	height: 35px;
       	width: 80px;
       	z-index: 20;
       	transition-duration: 1s;
        top: 260px;
        @include susy-breakpoint($bp-medium, $susy) {
            top: 480px;
        }
        right: 40px;
        &:hover {
    		@extend %extend_3;
   		}
    }
	h2 {
		font-size: 1.6em;
		line-height: 1.2em;
	}
	> .sequence-canvas {
		height: 100%;
		width: 100%;
		> li {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
		li > * {
			position: absolute;
			transition-timing-function: ease-in-out;
		}
	}

	.socialIcons {
	    @include span(10 of 12 last);
            @include susy-breakpoint($bp-medium, $susy) {
                @include span(5 of 12);
                    font-size: 1em;
                    line-height: 1.2em;
                    top: 320px;
            }
                top: 290px;
                right: 140%;
                z-index: 10;
                vertical-align: middle;
                transition-duration: 6s;
                transition-property: right;
	}
	.socialIcon {
		margin-right: 10px;
		opacity: 0.4;
		&:hover {
			opacity: .8;
			filter: alpha(opacity=80);
		}
	}
   .animate-in {
       .socialIcons{
 		    right: 1%;
 		     @include susy-breakpoint($bp-medium, $susy) {
                right: 8%;
             }
      	    transition-duration: 6s;
       		}
       	}
   .animate-out {
      .socialIcons{
        right: -140%;
        transition-duration: 6s;
        }
   }

	.me_image{
	    @include span(5 of 12 first);
	        @include susy-breakpoint($bp-medium, $susy) {
              @include span(4 of 12 first);
            }
	    left: -140%;
   		z-index: 6;
   		transition-property: left top;
	}
    .animate-in {

		.me_image{
			left: 3%;
            transition-duration: 6s;
        	z-index: 4;
		}
	}
	.animate-out {
		.me_image{
		left: 140%;
        			z-index: 2;
        			transition-duration: 6s;

		}
	}

    .me_text{
        @include span(6 of 12 last);
        @include susy-breakpoint($bp-medium, $susy) {
            font-size: 1.3em;
            line-height: 1.2em;
            top: 100px;
        }
        top: 30px;
 	    color: $gray;
        font-size: 0.8em;
        right: 150%;
        margin-right: 5px;
        z-index: 10;
        vertical-align: middle;
        transition-duration: 6s;
        transition-property: right;
    }

    	.animate-in {
    		.me_text{
    		    right: 2%;
   			    transition-duration: 6s;
   			     @include susy-breakpoint($bp-medium, $susy) {
   			      right: 10%;
   			     }
    		}
    	}
    	.animate-out {
            .me_text{
                right: -150%;
                transition-duration: 6s;
      		}
        }
}