//fonts
$font_0: Play;
$font_1: sans-serif;

//colors
$white: white;
$black: black;
$gray: gray;
$color_blue_approx: blue;

//susy
$bp-medium: 32em;
$bp-large: 60em;
$breakpoint-no-query-fallbacks: true;